<div class="page">
  <div class="topbar">
    <div>
      <h1>SetGame</h1>
      <p *ngIf="auth.currentUsername()">Ingelogd als {{ auth.currentUsername() }}</p>
    </div>

    <div class = "topbar-buttons">

    <button (click)="goHome()">Home</button>

    <button (click)="logout()">Uitloggen</button>

    </div>
  </div>

  <div class="status">
    <p *ngIf="gameService.isLoading()">Bezig...</p>
    <p class="error" *ngIf="gameService.errorMessage()">{{ gameService.errorMessage() }}</p>
    <p class="success" *ngIf="gameService.infoMessage()">{{ gameService.infoMessage() }}</p>
  </div>

  <div class="meta" *ngIf="gameService.game() as game">
    <p><strong>Status:</strong> {{ game.status }}</p>
    <p><strong>Kaarten in deck:</strong> {{ game.cardsRemainingInDeck }}</p>
  </div>

  <div class="board" *ngIf="gameService.game() as game">
    <button
      class="card"
      *ngFor="let card of game.cards"
      (click)="select(card.id)"
      [class.selected]="gameService.selectedIds().includes(card.id)"
    >
      <span class="color" [style.color]="colorMap(card.color)">
        {{ card.color }}
      </span>

      <span class="shape">
        {{ card.number }} × {{ card.shape }}
      </span>

      <small class="shading">{{ card.shading }}</small>
    </button>
  </div>

  <div class="actions">
    <button (click)="newGame()" [disabled]="gameService.isLoading()">Nieuw spel</button>
    <button (click)="clearSelection()" [disabled]="gameService.isLoading()">Selectie wissen</button>
  </div>
</div>
